@use "tailwindcss";

body {
  @apply text-gray-700;
}

/* PrimeIcons */
@import "primeicons/primeicons.css";

/* AG-Grid Styles */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

